html 
{
  position: relative;
  min-height: 100%;
}

body 
{ 
	background-color: Maroon; 
	color: white; 
}

marquee
{
	color: cyan;
}

.footer 
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: grey;
	text-align: center;
	color: cyan;
}