#header
{
	position: relative;
}

.header
{
	position: absolute;
	right: 0; 
}

#add-link
{
	padding-left:2em;
	padding-right:2em;	
}

#logo
{
	text-align: center;
	/*background-color: cyan;*/
	font-size: 300%;
	margin: 10% 0% 4% 0%;
}

#book-search
{
	margin: 0 auto;
	text-align: center;
}

/*.stylish-input-group .input-group-addon
{
    background: white !important; 
}*/

.stylish-input-group .form-control
{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button
{
    border:0;
    background:transparent;
}

#div
{
	
}